@import "../../assets/styles/colors";

header {
  padding: 20px 0;

  .mobile-menu, .mobile-menu-box {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 71px;
    align-items: center;
    font-size: 1.3em;

    &-right {
      .menu {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;

        &-element {
          padding: 0 12px;

          a {
            &:hover {
              color: $blue;
            }
          }

          .active {
            color: $blue;
          }

          &:last-child {
            margin-top: 2px;
            padding-right: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header .nav {
    justify-content: space-around;
    padding: 0 24px;

    .mobile-menu {
      display: block;

      .close-icon {
        display: none;
        &.active {
          display: block;
        }
      }

      .menu-icon {
        display: block;
        &.non-active {
          display: none;
        }
      }
    }

    &-left {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-right {
      display: none;

      .switch-icon {
        display: block;
        &.non-active {
          display: none;
        }
      }

      &.active {
        display: block;
        background: $white;
        height: 100vh;
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
        z-index: 1;
        .menu {
          flex-direction: column;
          padding: 0 24px;
          &-element {
            padding: 12px 0;
            a {
              font-size: 1.25em;
              color: $mainColorFont;
            }

            &:hover {
              color: $blue;
            }
          }

          .active {
            color: $blue;
          }
        }
      }
    }
  }

}
