<header>
  <div class="nav">
    <div class="nav-left">
      <div class="logo">
        <img src="../../assets/imgs/blue.svg" alt="logo">
      </div>
    </div>
    <div class="nav-right">
      <ul class="menu">
        <li class="menu-element">
          <a href="#">Strona głowna</a>
        </li>
        <li class="menu-element">
          <a href="#">Baza Wiedzy</a>
        </li>
        <li class="menu-element">
          <a href="#" class="active">Zadania</a>
        </li>
        <li class="menu-element">
          <a href="#">Sklep</a>
        </li>
        <li class="menu-element">
          <a href="#">
            <img src="../../assets/icons/fill-1.svg" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
