<main>
  <div class="left">
    <div class="content">
      <div class="title">Odcinek 1 z 6</div>
      <h1>Witaj w domu!</h1>
      <p class="description">Opis odcinka. Won't divided have whose second give. Light cattle, living a moved.</p>
      <button class="btn-blue">
        <img src="../../assets/icons/page-1.svg" alt="play">
        <span>Zobacz najnowszy odcinek</span>
      </button>
      <div class="slider">
        <ul class="slider-list">
          <li>
            <div class="image">
              <img src="../../assets/imgs/slider/bitmap1.png" alt="image">
            </div>
            <div class="title">Odcinek 1</div>
          </li>
          <li>
            <div class="image">
              <img src="../../assets/imgs/slider/bitmap2.png" alt="image">
            </div>
            <img class="lock" src="../../assets/icons/lock.svg">
            <div class="title">Odcinek 2</div>
          </li>
          <li>
            <div class="image">
              <img src="../../assets/imgs/slider/bitmap3.png" alt="image">
            </div>
            <img class="lock" src="../../assets/icons/lock.svg">
            <div class="title">Odcinek 3</div>
          </li>
          <li>
            <div class="image">
              <img src="../../assets/imgs/slider/bitmap4.png" alt="image">
            </div>
            <img class="lock" src="../../assets/icons/lock.svg">
            <div class="title">Odcinek 4</div>
          </li>

          <!--<li>-->
          <!--<img src="../../assets/imgs/slider/bitmap4.png" alt="image">-->
          <!--<div class="title">Odcinek 4</div>-->
          <!--</li>-->
          <!--<li>-->
          <!--<img src="../../assets/imgs/slider/bitmap4.png" alt="image">-->
          <!--<div class="title">Odcinek 4</div>-->
          <!--</li>-->
        </ul>
      </div>
    </div>
  </div>
  <div class="rigth">
    <app-panel></app-panel>
  </div>
</main>
