<aside>
  <div class="content">
    <div class="tasks">
      <div class="tasks-summary">
        <h1>Lista zadań</h1>
        <ul>
          <li class="active">2 zadania do zrobienia</li>
          <li>1 zadanie zrobione</li>
        </ul>
      </div>
      <div class="tasks-list">
        <ul>
          <li>
            <div class="status">
              <img src="../../../assets/icons/check.svg">
            </div>
            <div class="info task-done">
              <div class="name">Zadanie organizacyjne</div>
              <div class="type">Przeczytaj artykuł</div>
            </div>
          </li>
          <li>
            <div class="status">
              <img src="../../../assets/icons/arrow-2-right.svg">
            </div>
            <div class="info task-in-progress">
              <div class="name">Jak zaprojektować slajdy?</div>
              <div class="type">Artykuł</div>
            </div>
          </li>
          <li>
            <div class="status"></div>
            <div class="info task-to-do">
              <div class="name">Wprowadzenie do Agile</div>
              <div class="type">Quiz</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
